@using Recipit.Infrastructure.Data.Models.Contracts
@{
    var imgUrl = "";
    var username = User.Claims.FirstOrDefault(c => c.Type == "username")?.Value;
    if (User.Claims.FirstOrDefault(c => c.Type == "profile_picture")?.Value != null)
    {
        imgUrl = User.Claims.FirstOrDefault(c => c.Type == "profile_picture")?.Value;
    }
    else
    {
        imgUrl = "https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg";
    }
}

<div class="cerate-post-container">
    <section class="create-post-section">
        <div class="create-post-title-container">
            <h1>Публикувай рецепта</h1>
        </div>
        <div class="post-content-container">
            <div class="post-content-navigation-top">
                <a class="naligation-item" id="btn-post">
                    <i class="navigation-item-icon fa fa-list-ul"></i> Рецепта
                </a>
                <a class="naligation-item" id="btn-image">
                    <i class="navigation-item-icon fa fa-image"></i> Снимка
                </a>
                <a class="naligation-item" id="btn-preview">
                    <i class="navigation-item-icon fa fa-magnifying-glass"></i> Преглед
                </a>
            </div>
            <div class="post-content" id="text-content">
                <label class="label-select-category" for="cars">Избери категория:</label>
                <select class="select-select-category" name="cars" id="cars">
                    <option value="@Category.Appetizer">Предястие</option>
                    <option value="@Category.MainCourse">Основно ястие</option>
                    <option value="@Category.Salad">Салата</option>
                    <option value="@Category.Dessert">Десерт</option>
                    <option value="@Category.Soup">Супа</option>
                </select>
                <input id="postTitle" class="post-content-input-title" type="text" placeholder="Заглавие на рецептата" />
                <textarea id="postDescription" class="post-content-input-description" rows="5" placeholder="Описание (Пълно описание на рецептата и начинът на приготвяне!)"></textarea>
                <div class="products-select-container">
                    <button id="btn-add-product" class="button-add-product"><i class="fa fa-circle-plus"></i>Добави продукт</button>
                    <div id="product-container" class="added-products-container">
                    </div>
                </div>
                <div id="product-popup" class="product-popup hidden">
                    <input type="text" class="search-products" id="searchProduct" placeholder="Търси продукт">
                    <ul id="li-skeleton" class="product-list">
                        <li class="li-skeleton">
                            <div class="skeleton-element"></div>
                            <div class="skeleton-element"></div>
                            <div class="skeleton-element"></div>
                            <div class="skeleton-element"></div>
                        </li>
                    </ul>
                    <ul id="product-list" class="product-list">
                    </ul>
                    <button class="add-new-product-btn" id="addNewProduct">Добави нов продукт</button>
                </div>
                <div class="bottom-btns-post">
                    <a class="post-content-btn hidden">Назад</a>
                    <a class="post-content-btn" id="text-display-image">Напред</a>
                </div>
            </div>
            <div class="post-content hidden" id="image-content">
                <div class="post-content-image-container" id="drop-area">
                    <input class="post-content-input-file" type="file" id="image" accept="image/*" onchange="handleFiles(event)">
                    <p id="postDescription"><label for="image">Drag & Drop or Browse</label></p>
                </div>
                <div class="bottom-btns-post">
                    <a class="post-content-btn" id="display-text">Назад</a>
                    <a class="post-content-btn" id="display-preview">Напред</a>
                </div>
            </div>
            <div class="post-content hidden" id="preview-content">
                <div class="dynamic-content" id="dynamic-content">
                </div>
                <div class="bottom-btns-post">
                    <a class="post-content-btn" id="preview-display-image">Назад</a>
                    <a class="post-content-btn" id="submitBtn">Създай</a>
                </div>
            </div>
        </div>
    </section>
    <section class="create-post-profile-display-section">
        <div class="profile-display-section-top">
            <div class="image-container-recipit-shit">
                <img class="img-pfp-head" src="~/images/recipcho-removebg-preview.png" alt="Image here." />
            </div>
            <div class="privacy-recipie-text-container">
                <p class="text-content-privacy">
                    При изпращане на рецепта за публикуване на нашия уебсайт,
                    въздържайте се от споделяне на чувствителна информация и бъдете внимателни с изображения, които могат да компрометират поверителността.
                    Изпращайки рецепта, вие ни давате правото да публикуваме и популяризираме съдържанието, като зачитаме вашата поверителност.
                </p>
            </div>
        </div>
        <div class="profile-display-section-bottom">
        </div>
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/js/follower/image-box.js"></script>
<script src="~/js/follower/products.js"></script>
<script src="~/js/follower/create-recipe.js"></script>
<script src="~/js/follower/create-post-page-actions.js"></script>
<script src="~/js/follower/recipe-preview.js"></script>
<script>
    $(document).ready(function () {
        var imgUrl = "@Html.Raw(imgUrl)";
        var username = "@Html.Raw(username)";
        generatePreview(imgUrl, username);
        console.log('in da jungle ' + imgUrl);
        console.log('in da jungle ' + username);
    });
</script>