@using Recipit.ViewModels
@using Recipit.ViewModels.Recipe
@model HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
    var recipesCheck = Model.RecipeOfTheDay is not null && Model.LatestRecipes is not null && Model.TopRatedRecipes is not null;
}

<link href="~/css/recipesall.css" rel="stylesheet" />

@if (recipesCheck)
{
    <div class="top-recipes-container">
        <div class="recipe-titles-container">
            <h2 class="recipe-title-in-home-first">Рецепта на деня</h2>
            <h2 class="recipe-title-in-home-last">Най-харесвани</h2>
        </div>
        <div class="recipes-container">
            @foreach (var item in new List<RecipeDisplayModel> { Model.RecipeOfTheDay, Model.TopRatedRecipes.First(), Model.TopRatedRecipes.Last() })
            {
                <div class="recipe-container">
                    <div class="recipe-data">
                        <div class="recipe-image-ctr">
                            <img class="recipe-image" src="@item.Photo" alt="Recipe Image" />
                        </div>
                        <div class="recipe-title-and-rating">
                            <h1 class="recipe-title">@item.Name</h1>
                            <div class="stars-container">
                                @{
                                    var fullStars = Math.Floor(item.AverageRating);
                                    var hasHalfStar = item.AverageRating > fullStars;
                                    var totalStars = 5;
                                }
                                @for (int i = 0; i < fullStars; i++)
                                {
                                    <i class="fa-solid fa-star"></i>
                                }
                                @if (hasHalfStar)
                                {
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                }
                                @for (int i = 0; i < totalStars - fullStars - (hasHalfStar ? 1 : 0); i++)
                                {
                                    <i class="fa-regular fa-star"></i>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="recipe-products">
                        <h1 class="recipe-ingridients-title">Съставки</h1>
                        <div class="ingridients-container">
                            @for (int i = 0; i < item.Products.Count() && i < 5; i++)
                            {
                                var product = item.Products.ElementAt(i);
                                <div class="ingridient">
                                    <img class="ingridient-image" src="@product.Photo" alt="Product Image" />
                                    <h1 class="ingridient-title">@product.Name</h1>
                                </div>
                            }
                            @if (item.Products.Count() > 5)
                            {
                                <div class="ingridient">
                                    <h1 class="ingridient-more">+@((item.Products.Count() - 5).ToString()) Още</h1>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="recipe-buttons">
                        <a class="view-recipe-btn" style="text-decoration: none;" asp-action="ViewRecipe" asp-controller="Recipe" asp-area="Home" asp-route-id="@item.Id"><i class="fa fa-eye"></i>Виж рецептата</a>
                        @{
                            var caloriesColorClass = item.Calories < 250 ? "recipe-calories-green" :
                            item.Calories >= 250 && item.Calories <= 450 ? "recipe-calories-orange" : "recipe-calories-red";
                        }
                        <h2 class="recipe-calories @caloriesColorClass"><i class="fa fa-fire"></i> @((int)item.Calories) Калории</h2>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="latest-recipes-container">
        <h2 class="recipe-title-in-home">Последно публикувани</h2>
        <div class="recipes-container">
            @foreach (var item in Model.LatestRecipes)
            {
                <div class="recipe-container">
                    <div class="recipe-data">
                        <div class="recipe-image-ctr">
                            <img class="recipe-image" src="@item.Photo" alt="Recipe Image" />
                        </div>
                        <div class="recipe-title-and-rating">
                            <h1 class="recipe-title">@item.Name</h1>
                            <div class="stars-container">
                                @{
                                    var fullStars = Math.Floor(item.AverageRating);
                                    var hasHalfStar = item.AverageRating > fullStars;
                                    var totalStars = 5;
                                }
                                @for (int i = 0; i < fullStars; i++)
                                {
                                    <i class="fa-solid fa-star"></i>
                                }
                                @if (hasHalfStar)
                                {
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                }
                                @for (int i = 0; i < totalStars - fullStars - (hasHalfStar ? 1 : 0); i++)
                                {
                                    <i class="fa-regular fa-star"></i>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="recipe-products">
                        <h1 class="recipe-ingridients-title">Съставки</h1>
                        <div class="ingridients-container">
                            @for (int i = 0; i < item.Products.Count() && i < 5; i++)
                            {
                                var product = item.Products.ElementAt(i);
                                <div class="ingridient">
                                    <img class="ingridient-image" src="@product.Photo" alt="Product Image" />
                                    <h1 class="ingridient-title">@product.Name</h1>
                                </div>
                            }
                            @if (item.Products.Count() > 5)
                            {
                                <div class="ingridient">
                                    <h1 class="ingridient-more">+@((item.Products.Count() - 5).ToString()) Още</h1>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="recipe-buttons">
                        <a class="view-recipe-btn" style="text-decoration: none;" asp-action="ViewRecipe" asp-controller="Recipe" asp-area="Home" asp-route-id="@item.Id"><i class="fa fa-eye"></i>Виж рецептата</a>
                        @{
                            var caloriesColorClass = item.Calories < 250 ? "recipe-calories-green" :
                            item.Calories >= 250 && item.Calories <= 450 ? "recipe-calories-orange" : "recipe-calories-red";
                        }
                        <h2 class="recipe-calories @caloriesColorClass"><i class="fa fa-fire"></i> @((int)item.Calories) Калории</h2>
                    </div>
                </div>
            }
        </div>
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const counters = document.querySelectorAll('.counter');
        counters.forEach(counter => {
            counter.innerText = '0';
            const updateCounter = () => {
                const target = +counter.getAttribute('data-target');
                const c = +counter.innerText;

                const increment = target / 200; // Adjust the speed here

                if (c < target) {
                    counter.innerText = `${Math.ceil(c + increment)}`;
                    setTimeout(updateCounter, 1);
                } else {
                    counter.innerText = target;
                }
            };
            updateCounter();
        });
    });
</script>
