@using Recipit.Infrastructure.Data.Models.Contracts
@using Recipit.ViewModels.Recipe
@model IEnumerable<RecipeDisplayModel>
<link href="~/css/recipesall.css" rel="stylesheet" />

<form class="search-products-form" id="recipeFilterForm">
    <input class="search-input" type="text" id="name" name="name" placeholder="Име">
    <select class="select-category" name="categories" id="category">
        <option value="@string.Empty">Всички категории</option>
        <option value="@Category.Appetizer">Предястие</option>
        <option value="@Category.MainCourse">Основно ястие</option>
        <option value="@Category.Salad">Салата</option>
        <option value="@Category.Dessert">Десерт</option>
        <option value="@Category.Soup">Супа</option>
    </select>
    <input class="search-input" type="text" id="author" name="author" placeholder="Автор">
    <input class="search-input" type="number" id="averageRating" name="averageRating" placeholder="Оценка">
    <input class="search-input" type="number" id="nutritionalValue" name="nutritionalValue" placeholder="Калории">
    <button class="search-btn" type="submit"><span class="oi fa-solid fa-filter" aria-hidden="true"></span>Филтрирай</button>
</form>
<div class="recipes-container" id="recipeSkeleton">
    <div class="recipe-skeleton-container">
        <div class="recipe-data skeleton-box"></div>
        <div class="recipe-title-and-rating skeleton-box"></div>
        <div class="recipe-products skeleton-box"></div>
        <div class="recipe-buttons skeleton-box"></div>
    </div>
    <div class="recipe-skeleton-container">
        <div class="recipe-data skeleton-box"></div>
        <div class="recipe-title-and-rating skeleton-box"></div>
        <div class="recipe-products skeleton-box"></div>
        <div class="recipe-buttons skeleton-box"></div>
    </div>
    <div class="recipe-skeleton-container">
        <div class="recipe-data skeleton-box"></div>
        <div class="recipe-title-and-rating skeleton-box"></div>
        <div class="recipe-products skeleton-box"></div>
        <div class="recipe-buttons skeleton-box"></div>
    </div>
    <div class="recipe-skeleton-container">
        <div class="recipe-data skeleton-box"></div>
        <div class="recipe-title-and-rating skeleton-box"></div>
        <div class="recipe-products skeleton-box"></div>
        <div class="recipe-buttons skeleton-box"></div>
    </div>
</div>

<div class="recipes-container"id="recipeDisplay">
</div>
<div id="pagination">
    <button id="prevPage">Previous</button>
    <span id="currentPage">1</span>
    <button id="nextPage">Next</button>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/js/home/allrecipes.js"></script>