@using Recipit.Contracts.Constants
@using Recipit.Contracts.Helpers
@using Recipit.ViewModels.Recipe
@using System.Security.Claims
@model RecipeDisplayModel
@{
    ViewBag.Title = "Recipe Details";
}

<link href="~/css/viewrecipe.css" rel="stylesheet" />

<div class="recipe-container">
    <h2 class="recipe-title">@Model.Name</h2>
    <h2 class="recipe-user">Публикувана от <a asp-area="Home" asp-action="Profile" asp-controller="Account" asp-route-name="@Model.User.UserName">@Model.User.UserName</a></h2>
    <img class="recipe-photo" src="@Model.Photo" alt="@Model.Name">
    <p class="recipe-description">@Model.Description</p>
    <p class="recipe-category">Категория: @Model.Category</p>
    <p class="recipe-nutritional">Калории: @Model.Calories</p>
    <p class="recipe-nutritional">Хранителна стойност: @Model.NutritionalValue</p>
    <p class="recipe-date">Публикувана на: @Model.PublishDate.ToShortDateString()</p>
    <div class="recipe-rating">
        <p>Оценка: @Model.AverageRating</p>
    </div>
    @if(User?.Identity?.IsAuthenticated ?? false)
    {
        <div class="rating-main">
            <p>Твоята Оценка:</p>
            <div class="recipe-rating-stars">
                <i class="fa-regular fa-star" data-rating="1"></i>
                <i class="fa-regular fa-star" data-rating="2"></i>
                <i class="fa-regular fa-star" data-rating="3"></i>
                <i class="fa-regular fa-star" data-rating="4"></i>
                <i class="fa-regular fa-star" data-rating="5"></i>
            </div>
            <input type="hidden" id="recipeRating" name="rating" value="0">
        </div>
        <input type="hidden" id="userRating" name="urating" value="@(Model.UserRating)">
    }
    @{
        if (User?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value == Model.UserId)
        {
                <form class="delete-recipe-form" asp-action="Delete" asp-controller="Recipe" asp-area="Follower" asp-route-id="@Model.Id" method="post">
                    <button type="submit" class="delete-recipe-btn" style="text-decoration: none;"><i class="fa-solid fa-trash"></i> Изтрий рецептата</button>
                </form>
                <form class="delete-recipe-form" asp-action="Edit" asp-controller="Recipe" asp-area="Follower" asp-route-id="@Model.Id" method="get">
                    <button type="submit" class="delete-recipe-btn" style="text-decoration: none;"><i class="fa-solid fa-pen-to-square"></i> Редактирай рецептата</button>
                </form>
        }
        else if (User?.IsInRole(RecipitRole.Administrator) ?? false)
        {
                <form class="delete-recipe-form" asp-action="Delete" asp-controller="Recipe" asp-area="Follower" asp-route-id="@Model.Id" method="post">
                    <button type="submit" class="delete-recipe-btn" style="text-decoration: none;"><i class="fa-solid fa-trash"></i> Изтрий рецептата</button>
                </form>
        }
    }
</div>
<div class="recipe-products">
    <h1 class="recipe-ingridients-title">Съставки</h1>
    <div class="ingridients-container">
        @foreach (var item in Model.Products)
        {
            <div class="ingridient">
                <img class="ingridient-image" src="@item.Photo" alt="image" />
                <h1 class="ingridient-title">@item.Name</h1>
                <h1 class="quantity-details">@item.QuantityDetails</h1>
            </div>
        }
    </div>
</div>
@if (User?.Identity?.IsAuthenticated ?? false)
{
    if (User?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value != Model.UserId)
    {
        <div class="add-comment-container">
            <h3>Публикувай коментар</h3>
            <form method="post" id="commentForm">
                <textarea required class="comment-textarea" name="commentText" placeholder="Текст на коментара"></textarea>
                <div class="comment-submit-ctr">
                    <input type="submit" value="Коментирай" class="submit-comment-btn">
                </div>
            </form>
        </div>
    }
}

<div class="comments-container">
    @if(Model.Comments != null)
    {
        @foreach (var comment in Model.Comments)
        {
            <div class="comment">
                <div class="profile-image-text-ctr">
                    <img class="comment-image" src="@comment.User?.Photo" alt="image" />
                    <p class="comment-user">@comment.User?.Username</p>
                    @if (User?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value == comment.User?.Id || User is not null && User.IsInRole(RecipitRole.Administrator))
                    {
                        <form asp-action="Delete" asp-controller="Comment" asp-area="Follower" asp-route-id="@comment.Id" asp-route-recipeId="@Model.Id" method="post">
                            <button type="submit" class="delete-comment-btn" style="text-decoration: none;"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                    }
                </div>
                <p class="comment-text">@comment.Text</p>
                <p class="comment-date">@comment.DatePosted.ToShortDateString()</p>
            </div>
        }
    }
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/js/home/postcomment.js"></script>
<script>
    $(document).ready(function () {
        const rating = $('#userRating').val();
        const ratingContainer = $('.recipe-rating-stars');

        console.log(rating);

        ratingContainer.find('.fa-star').removeClass('fa-solid').addClass('fa-regular');
        ratingContainer.find('.fa-star').each(function (index) {
            if (index < rating) {
                $(this).removeClass('fa-regular').addClass('fa-solid');
            }
        });
    });
</script>
<script>
    $('.rating-main .fa-star').click(function () {
        const rating = $(this).data('rating');
        const ratingContainer = $(this).closest('.recipe-rating-stars');

        ratingContainer.find('.fa-star').removeClass('fa-solid').addClass('fa-regular');
        ratingContainer.find('.fa-star').each(function (index) {
            if (index < rating) {
                $(this).removeClass('fa-regular').addClass('fa-solid');
            }
        });

        $('#recipeRating').val(rating);
    });
</script>
<script>
    $(document).ready(function () {
        const urlParts = window.location.pathname.split('/');
        const recipeId = urlParts[urlParts.length - 1];

        console.log(recipeId);
        console.log('recipeId');

        $('.fa-star').click(function () {
            const value = $(this).data('rating');
            console.log(value);
            $('#newCommentRating').val(value);

            $.ajax({
                type: 'GET',
                url: '/follower/recipe/rate',
                contentType: 'application/json',
                data: {
                    value: value,
                    recipeId: recipeId
                },
                success: function (response) {
                    console.log('AJAX request successful');
                },
                error: function (xhr, status, error) {
                    console.error('AJAX request error:', error);
                }
            });
        });
    });
</script>