@using Recipit.Contracts.Constants
@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Recipit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Recipit.styles.css" asp-append-version="true" />
    <link href="~/css/create-post.css" rel="stylesheet" />
</head>
<body>
    <div id="error-popup-container"></div>
    <div class="container-section">
        <div class="navbar" id="navbar">
            <a href="#" class="btn-hide hidden" id="navbar-hide"><i class="fa fa-xmark"></i></a>
            <nav class="space-between">
                <section>
                    <div class="d-flex justify-content-center align-items-center">
                        <img class="logo-img-navbar" src="~/images/recipitasdasdasd-removebg-preview.png" alt="kos" />
                    </div>
                    <div class="create-recipie-container">
                        <a class="create-recipie-btn" asp-area="Follower" asp-controller="Recipe" asp-action="Create"><span class="fa-solid fa-circle-plus" aria-hidden="true"></span>Публикувай рецепта</a>
                    </div>
                    <div class="nav-item hover">
                        <a class="nav-link fs-6 px-2" asp-area="Home" asp-action="Index" asp-controller="Home">
                            <span class="oi fa-solid fa-border-all" aria-hidden="true"></span> Начало
                        </a>
                    </div>
                    <div class="nav-item hover">
                        <a class="nav-link fs-6 px-2" asp-area="Home" asp-action="All" asp-controller="Recipe">
                            <span class="oi fa-solid fa-file-lines" aria-hidden="true"></span> Рецепти
                        </a>
                    </div>
                    @if (User.IsInRole(RecipitRole.Administrator))
                    {
                        <div class="nav-item hover">
                            <a class="nav-link fs-6 px-2" asp-area="Administrator" asp-action="AllPaginated" asp-controller="Product">
                                <span class="oi fa-solid fa-tag" aria-hidden="true"></span> Продукти
                            </a>
                        </div>
                        <div class="nav-item hover">
                            <a class="nav-link fs-6 px-2" asp-area="Administrator" asp-action="All" asp-controller="Follower">
                                <span class="oi fa-solid fa-users" aria-hidden="true"></span> Последователи
                            </a>
                        </div>
                    }
                </section>
                <section>
                    @* <div class="nav-item hover">
                    <a class="nav-link fs-6 px-2" asp-area="Follower" asp-action="Saved" asp-controller="Recipe">
                    <span class="oi fa-solid fa-heart" aria-hidden="true"></span> Любими
                    </a>
                    </div> *@
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <div class="nav-item hover">
                            <a class="nav-link fs-6 px-2" asp-area="Follower" asp-action="Profile" asp-controller="Profile">
                                <span class="oi fa-solid fa-user" aria-hidden="true"></span> Профил
                            </a>
                        </div>
                    }
                </section>
            </nav>
        </div>
    </div>
    <div class="page" id="page">
        <header id="header">
            <div class="header-main-container">
                @*
                <div class="search-bar">
                <input type="submit" class="searchbar" id="searchbar" placeholder="Търси рецепта" />
                </div> *@
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <div class="profile-button-container">
                        <a class="profile-button" asp-area="Home" asp-controller="Account" asp-action="Logout"><span class="fa-solid fa-right-from-bracket" aria-hidden="true"></span> Изход (@User?.FindFirst(ClaimTypes.Name)?.Value)</a>
                    </div>
                    <div class="profile-pic-button">
                        <img src="@User?.Claims.FirstOrDefault(c => c.Type == "profile_picture_url")?.Value ?? @("https://brightspotcdn.byu.edu/dims4/default/8325ccb/2147483647/strip/true/crop/340x340+0+0/resize/1200x1200!/quality/90/?url=https%3A%2F%2Fbrigham-young-brightspot.s3.amazonaws.com%2Fbd%2F7f%2Face2612141aa8c6ad180b0786739%2Fdefault-pfp.jpg")" alt="Profile Picture" class="profile-picture" id="profilePicture">
                    </div>
                }
                else
                {
                    <div class="profile-button-container">
                        <a class="profile-button" asp-area="Home" asp-controller="Account" asp-action="Login"><span class="fa-solid fa-right-to-bracket" aria-hidden="true"></span> Вход</a>
                    </div>
                    <div class="profile-button-container">
                        <a class="profile-button" asp-area="Home" asp-controller="Account" asp-action="Register"><span class="fa-solid fa-user-plus" aria-hidden="true"></span> Регистрация</a>
                    </div>
                }
            </div>
        </header>
        <div class="container-main">
            <main role="main" class="pb-3">
                @if (TempData["message"] != null)
                {
                    <div id="notification-popup" class="notification-popup">
                        <div class="notification-image">
                            <img src="~/images/recipcho.png" alt="Image here." />
                        </div>
                        <div class="notification-content">
                            <h4 class="notification-title">Съобщение</h4>
                            <p class="notification-summary">@TempData["message"]</p>
                            <span class="notification-date">@DateTime.Now.ToString("dd/mm/yyyy")</span>
                        </div>
                    </div>
                }
                @if (TempData["messageDanger"] != null)
                {
                    <div id="error-box" class="notification-popup">
                        <div class="notification-image">
                            <img src="~/images/recipcho.png" alt="Image here." />
                        </div>
                        <div class="notification-content">
                            <h4 class="notification-title error">Възникна Грешка!</h4>
                            <p class="notification-summary error">@TempData["messageDanger"]</p>
                            <span class="notification-date">@DateTime.Now.ToString("dd/mm/yyyy")</span>
                        </div>
                    </div>
                }

                @RenderBody()
                <script src="https://kit.fontawesome.com/90737a6dc1.js" crossorigin="anonymous"></script>
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        var popups = document.querySelectorAll('.notification-popup');

                        popups.forEach(function (box) {
                            setTimeout(function () {
                                box.remove();
                            }, 5000);
                        });
                    });
                </script>
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
